/* frontend/styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.message-success {
  color: green;
}
.message-success::before {
  content: '✅ ';
}
.message-error {
  color: red;
}
.message-error::before {
  content: '❌ ';
}